* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #67ddac;
  background-image: linear-gradient(
    to right,
    #96f581 0%,
    #dee25e 50%,
    #fff 50%
  );
  font-family: "Roboto Slab", serif;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 50%;
  height: 500px;
  display: flex;
  box-shadow: -1px 3px 12px 1px #959595;
}

.form-container {
  width: 50%;
  height: 100%;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5)
  );

  backdrop-filter: blur(2rem);
}

.form-container h2 {
  color: #5e5e5e;
  font-size: 32px;
  letter-spacing: 2px;
  margin-bottom: 16px;
}
.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form input[type="text"],
input[type="password"] {
  background: none;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 3px;
  color: gray;
  display: block;
  font-size: 16px;
  margin: 15px 0;
  padding: 10px 10px 10px 5px;
  width: 100%;
  letter-spacing: 0.1em;
}

.login-form input[type="text"],
input[type="password"]:focus {
  outline: none;
}

.login-form button {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  transition: 0.3s all ease-in;
  cursor: pointer;
  border-radius: 3px;
}

.login-form button:hover {
  background-color: #5e5e5e;
}

.img-container {
  width: 50%;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container img {
  width: 100%;
  height: auto;
}
